{% load i18n %}
{% load core_tags %}

<div class="recommandations">
    <div class="title padding-v margin-v"><strong>{{UI_STRINGS_CONTEXT.UI_POST_RECOMMENDATIONS_TITLE}}</strong></div>
    <div class="post-list">
        <ul>
          {% for blog_post in recommendations %}
          <li>
            <div class="post-entry">
              <div class="link-wrapper"><a href="{{blog_post.get_absolute_url}}"><strong>{{blog_post.title}}</strong></a></div>
              {% comment %}
                  <div class="post-summary">
                    {% render_post_summary blog_post %}
                  </div>
              {% endcomment %}
              <div class="post-header">
                <span>{{blog_post.author.get_full_name}}</span>
                {% comment %}{% if blog_post.author == request.user %} | <a href="{{blog_post.get_update_url}}" title="{{UI_STRINGS_CONTEXT.UI_UPDATE_BLOG_POST}}"><i class="fas fa-edit icon"></i></a>{% endif %}{% endcomment %}
                {% if blog_post.author == request.user %} | <a href="{{blog_post.get_delete_url}}" title="{{UI_STRINGS_CONTEXT.UI_DELETE_BLOG_POST}}"><i class="fas fa-trash icon"></i></a>{% endif %}
              </div>
            </div>
          </li>
          {% empty %}
          <li><span>{{UI_STRINGS_CONTEXT.UI_NO_RECOMMENDATIONS_TITLE}}</span></li>
          {% endfor %}
        </ul>
      </div>
</div>