{% load i18n %}
{% load cache %}

{% cache TEMPLATE_CACHE_TIMEOUT search LANGUAGE_CODE search_id %}
<div class="search-form-wrapper">
    <div class="container">
        <div class="hidden-m col-9"></div>
        <div class="col-m-12 col-3">
            <div class="flex flex-right">
                <form id="search-form" class="form" name="search-form" action="{% url 'search' %}" method="get" autocomplete="off">
                    <div class="search-box">
                        <i class="fas fa-search icon"></i>
                        <input type="text" id="search-{{search_id}}" class="search" name="search" value="{{search|default_if_none:''}}" aria-label="{{UI_STRINGS_CONTEXT.UI_SEARCH_LABEL}}" placeholder="{{UI_STRINGS_CONTEXT.UI_SEARCH_LABEL}}" autocomplete="off">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
{% endcache %}