

  <div class="post-list-wrapper full">
    <ul>
      {% for blog_post in blog_posts %}
      <li>
        <div class="post-entry">
          <div class="link-wrapper"><a href="{{blog_post.get_absolute_url}}"><span>{{blog_post.title}}</span></a></div>
          {% comment %}
            <div class="post-summary">
              {% render_post_summary blog_post %}
            </div>
          {% endcomment %}
          <div class="post-header">
            <span>{{blog_post.author.get_full_name}}</span>|<span>{{blog_post.created_at}}</span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>