{% load i18n %}

<form class="form" name="add-category-form"  action="{% url 'dashboard:category-create' %}" method="POST">{% csrf_token %}
<div class="mat-box container">
<div class="col-xs-12">
    <div class="box create-form">
        <input type="hidden" name="added_by" value="{{request.user.pk}}">
        <div class="flex flex-left flex-wrap">
            <div class="form-group">
                <label for="name">{% trans "Name" %}</label>
                <input id="name" type="text"  name="name">
            </div>
            <div class="form-group">
                <label for="display_name">{% trans "Display Name" %}</label>
                <input id="display_name" type="text"  name="display_name">
            </div>
            <div class="form-group">
                <label for="seo-page-title">{% trans "SEO Page Title" %}</label>
                <input type="text" id="seo-page-title" class="full" name="seo_page_title" maxlength="{{SEO_PAGE_TITLE_MAX_SIZE}}">
            </div>
            <div class="form-group">
                <label for="seo-meta-keywords">{% trans "SEO Meta Keywords" %}</label>
                <input type="text" id="seo-meta-keywords" class="full" name="seo_meta_keywords" maxlength="{{SEO_META_KEYWORDS_MAX_SIZE}}">
            </div>
        </div>
        {% if highlight_list %}
        <div class="flex flex-left flex-wrap">
            <div class="form-group">
                <label for="highlight">{% trans "Highlight" %}</label>
                <select name="highlight" id="highlight">
                    <option value=""><span class="mat-button">{% trans "Select a Highlight" %}</span></option>
                    {% for h in highlight_list %} <option value="{{h.pk}}"><span class="key">{{h}}</span></option> {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        <div class="flex flex-left flex-wrap">
            {% if category_list %}
            <div class="form-group">
                <label for="parent">{% trans "Parent" %}</label>
                <select name="parent" id="parent">
                    <option value=""><span class="mat-button">{% trans "Select a parent Category" %}</span></option>
                    {% for c in category_list %} <option value="{{c.pk}}"><span class="key">{{c.name}}-{{c.display_name}}</span></option> {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="form-group">
                    <span class="padding-bottom">{% trans "Status" %}</span>
                    <div class="row"><span class="padding"><input id="is_active" type="checkbox"  name="is_active"><label for="is_active">{% trans "Active" %}</label></span></div>
            </div>
        </div>
        <div class="flex flex-left flex-wrap">
            <div class="form-group">
                <label class="padding-bottom" for="description">{% trans "Description" %}</label>
                <textarea id="description" class="limited-input bordered" name="description" cols="30" rows="10" data-target="#description-counter" data-max-length="{{DESCRIPTION_MAX_SIZE}}"></textarea>
            </div>
            
            <div class="row padding-l"> <span id="description-counter" class="char-counter">0</span><span class="text-max-length">/{{DESCRIPTION_MAX_SIZE}}</span></div>
        </div>
        <div class="flex flex-left flex-wrap">
            <div class="form-group">
                <label class="padding-bottom" for="seo-description">{% trans "SEO Description" %}</label>
                <textarea id="seo-description" class="limited-input bordered" name="seo_description" cols="30" rows="10" data-target="#seo-description-counter" data-max-length="{{SEO_DESCRIPTION_MAX_SIZE}}"></textarea>
            </div>
            
            <div class="row padding-l"> <span id="seo-description-counter" class="char-counter">0</span><span class="text-max-length">/{{SEO_DESCRIPTION_MAX_SIZE}}</span></div>
        </div>
        <div class="flex flex-left flex-wrap">
            <div class="form-group">
                <label class="padding-bottom" for="fb-description">{% trans "FACEBOOK Description" %}</label>
                <textarea id="fb-description" class="limited-input bordered" name="facebook_description" cols="30" rows="10" data-target="#fb-description-counter" data-max-length="{{FACEBOOK_DESCRIPTION_MAX_SIZE}}"></textarea>
            </div>
            
            <div class="row padding-l"> <span id="fb-description-counter" class="char-counter">0</span><span class="text-max-length">/{{SEO_DESCRIPTION_MAX_SIZE}}</span></div>
        </div>
        <div class="actions flex-right">
                <a class="mat-button mat-button-outline js-cancel" href="{% url 'dashboard:home' %}">{% trans "Cancel" %}</a>
                <button class="mat-button mat-button-default" type="submit">{% trans "Create" %}</button>
        </div>
    </div>
</div>
</div><!-- End of container-->
    
</form>