{% load i18n %}

<div id="cookie-consent-modal" class="modal cookie-consent-modal">
    <div class="modal-container">
        <div class="mat-box full">
            <div class="modal header title">
                <span>{{UI_STRINGS_CONTEXT.UI_COOKIE_CONSENT_TITLE}}</span>
            </div>
            <div class="modal-content">
                <p>{{UI_STRINGS_CONTEXT.UI_COOKIE_CONSENT_BODY}}</p>
            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button id="cookie-content-btn" class="mat-button mat-button-default" type="button">{{UI_STRINGS_CONTEXT.UI_OK_BTN_LABEL}}</button>
                </div>
            </div>
        </div>
    </div>
</div>