{% load i18n %}

<div id="cookie-consent-modal" class="cookie-consent-modal">
    <div class="content-wrapper col-m-12 col-3">
        <div class="cookie-content">
            <div class="modal-header title">
                <span class="bold">{{UI_STRINGS_CONTEXT.UI_COOKIE_CONSENT_TITLE}}</span>
            </div>
            <div class="box-content">
                <p>{{UI_STRINGS_CONTEXT.UI_COOKIE_CONSENT_BODY}}</p>
            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button id="cookie-granted-btn" class="mat-button mat-button-default" type="button">{{UI_STRINGS_CONTEXT.UI_OK_BTN_LABEL}}</button>
                    <button id="cookie-denied-btn" class="mat-button mat-button-default" type="button">{{UI_STRINGS_CONTEXT.UI_REFUSE_BTN_LABEL}}</button>
                    <button id="cookie-preference-btn" class="mat-button mat-button-default hidden" type="button">{{UI_STRINGS_CONTEXT.UI_RESET_BTN_LABEL}}</button>
                </div>
            </div>
        </div>
    </div>
</div>