{% load i18n %}

<div id="cookie-consent-modal" class="cookie-consent-modal">
    <div class="content-wrapper col-m-12 col-3">
        <div class="cookie-content">
            <div class="modal-header title">
                <span class="bold">{{UI_STRINGS_CONTEXT.UI_COOKIE_CONSENT_TITLE}}</span>
            </div>
            <div class="box-content">
                <p>{{UI_STRINGS_CONTEXT.UI_COOKIE_CONSENT_BODY}}</p>
            </div>
            <div id="cookie-preferences" class="cookie-preferences">
                <div class="container">
                    <div class="title bold full"><span>{{UI_STRINGS_CONTEXT.UI_COOKIE_PREFERENCES}}</span></div>
                    <div class="full">
                        <ul class="mat-list">
                            {% comment %}<li class="mat-list-item">
                                <div class="entry">
                                    <div><span><input id="tag-enable_all" class="js-essential-all" type="checkbox" name="enable_all"><label for="tag-enable_all">{{UI_STRINGS_CONTEXT.UI_COOKIE_ENABLE_ALL}}</label></span></div>
                                </div>
                            </li>{% endcomment %}
                            {% for ads in ads_settings %}
                            <li class="mat-list-item">
                                <div class="entry flex-wrap">
                                    <div class="full padding-v"><span><span class="bold tag">{{ads.name}}</span> <span><input id="tag-{{ads.tag}}" class="js-essential" type="checkbox" name="{{ads.consent_type}}" data-target="{{ads.consent_type}}" {% if ads.required %}disabled{% endif %} checked value="granted"><label for="tag-{{ads.tag}}">{{UI_STRINGS_CONTEXT.UI_COOKIE_ENABLE}}</label></span></span><span class="padding accordion-toggle" data-target="accordion-{{ads.tag}}"></span></div>
                                    <div id="accordion-{{ads.tag}}" class="full accordion"><span>{{ads.description}}</span></div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button id="cookie-granted-btn" class="mat-button mat-button-default" type="button">{{UI_STRINGS_CONTEXT.UI_OK_BTN_LABEL}}</button>
                    <button id="cookie-denied-btn" class="mat-button mat-button-default hidden" type="button">{{UI_STRINGS_CONTEXT.UI_REFUSE_BTN_LABEL}}</button>
                    <button id="cookie-preference-btn" class="mat-button mat-button-default" type="button" data-toggle="cookie-preferences">{{UI_STRINGS_CONTEXT.UI_COOKIE_PREFERENCES}}</button>
                </div>
            </div>
        </div>
    </div>
</div>