{% load i18n %} 

<div class="flex flex-center  flex-wrap editor-post editor-wrapper full padding">
    {% include "tags/post_published_tag.html" %}
    <div class="container">
        <div class="col-m-12 col-9">
            <div class="flex flex-left flex-wrap mat-box">
                {% include "tags/preview_form.html" %}
                <div class="margin-bottom">
                    <input type="text" id="title" class="full" name="title" placeholder="{{UI_STRINGS_CONTEXT.UI_BLOG_INPUT_TITLE_PLACEHOLDER}}">
                </div>
                <div class="padding">
                    <span>{% translate "Category" %}</span>
                    <div class="flex flex-left flex-wrap">
                        {% for c in categories %} <span class="padding"><input type="radio" name="category" id="category-{{c.name}}" value="{{c.pk}}"><label for="category-{{c.name}}">{{c.display_name}}</label></span> {% endfor %}
                    </div>
                    <div class="hint hidden"><p>{% translate "Please, select a category" %}</p></div>
                </div>
                {% csrf_token %}
            </div>
            <div id="editor" class="mat-box editor padding" 
                            data-action="create" data-author="{{request.user.pk}}" 
                            data-placeholder="{{UI_STRINGS_CONTEXT.UI_EDITOR_PLACEHOLDER}}" 
                            data-quote-placeholder="{{UI_STRINGS_CONTEXT.UI_QUOTE_PLACEHOLDER}}" 
                            data-caption-placeholder="{{UI_STRINGS_CONTEXT.UI_CAPTION_PLACEHOLDER}}">
            </div>
        </div>
        <div class="col-m-12 col-3">
            <div class="mat-box">
                <div class="bold">{% trans "Image" %}</div>
            {% include "tags/images_uploader.html" with FORM_ID="post-upload-form" INPUT_ID="image" INPUT_NAME="image" UPLOADER_TITLE="Post Image" %}
            </div>
        </div>
    </div>
</div>
    