{% load i18n %} 

<div id="editor-wrapper" class="editor-wrapper full padding">
    <div id="editor" class="full mat-box editor padding">
    </div>
    <div class="actions flex-right">
    <button class="mat-button mat-button-outline js-clear-btn">{{UI_STRINGS_CONTEXT.UI_CLEAR_BTN_LABEL}}</button>
    <button class="mat-button mat-button-outline js-save-btn">{{UI_STRINGS_CONTEXT.UI_SAVE_BTN_LABEL}}</button>
    <button class="mat-button mat-button-default js-publish-btn">{{UI_STRINGS_CONTEXT.UI_PUBLISH_BTN_LABEL}}</button>
    </div>
</div>

<div id="editor-content" class="editor-content">

</div>
    