{% load i18n %} 
{% load static %}


<div class="header--panel">
    <ul class="site-panel">
        {% comment %}
                <li><button class="mat-button mat-button-text js-create-post-btn" title="{{UI_STRINGS_CONTEXT.UI_SAVE_BTN_LABEL}}"><span><i class="fas fa-save"></i></span></button></li>
        {% endcomment %}
        <li><button class="mat-button mat-button-text js-preview-post" title="{{UI_STRINGS_CONTEXT.UI_BLOG_POST_PREVIEW}}" type="button"><span><i class="fas fa-eye"></i></span></button></li>
        <li><button class="mat-button mat-button-text publish-btn js-publish-btn"><span>{{UI_STRINGS_CONTEXT.UI_PUBLISH_BTN_LABEL}}</span></button></li>
    </ul> 
</div>
