{% load i18n %}
{% load static %}

<div class="footer-content">
    
    <div class="col-xs-12 col-4">
        <div class="footer-catalog">
            <div class="flex flex-left bold"><span class="capitalize">{{UI_STRINGS_CONTEXT.UI_CONTACT_LABEL}}</span></div>
            <ul class="small">
                <li><a class="js-action-abtest" data-action="9" href="mailto:{{DEFAULT_FROM_EMAIL}}"><i class="far fa-envelope icon"></i><span>{{DEFAULT_FROM_EMAIL}}</span></a></li>
                <li><a href="http://validator.w3.org/check.cgi?url=https%3A//flished.com/feeds/rss/"><img src="{% static 'valid-rss-rogers.png' %}" alt="[Valid RSS]" title="{{UI_STRINGS_CONTEXT.UI_FEED_RSS_VALIDATE}}" /></a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-4">
        <div class="footer-catalog">
            <div class="flex flex-left bold"><span class="capitalize">{{UI_STRINGS_CONTEXT.UI_SITE_CONDITIONS}}</span></div>
            <ul class="small">
                <li><a href="{% url 'privacy-policy' %}">{{UI_STRINGS_CONTEXT.UI_PRIVACY_POLICY}}</a></li>
                <li><a href="{% url 'terms-of-use' %}">{{UI_STRINGS_CONTEXT.UI_TERMS_OF_USE}}</a></li>
                <li><a href="{% url 'about' %}">{{UI_STRINGS_CONTEXT.UI_ABOUT_US}}</a></li>
                <li><a href="{% url 'faq' %}">{{UI_STRINGS_CONTEXT.UI_FAQ}}</a></li>
            </ul>
        </div>
    </div>
</div>


