{% load i18n %}
{% load catalog_tags %}


<div class="container">
<form id="highlight-update-form" class="form full" name="highlight-update-form" data-highlight="{{highlight.highlight_uuid}}" action="{% url HIGHLIGHT_UPDATE_URL highlight.highlight_uuid %}" method="POST">{% csrf_token %}
    <div class="col-xs-12 col-3">
        <div class="box">
            {% include "tags/images_uploader.html" with FORM_ID="highlight-upload-form" INPUT_NAME="image" UPLOADER_TITLE=UI_STRINGS_CONTEXT.UI_HIGHLIGHT_IMAGE_TITLE %}
        </div>
    </div>
    <div class="col-xs-12 col-7">
    <div class="box create-form">
        <div class="flex flex-left flex-wrap">
            <div class="form-group">
                <label for="name">{% trans "Name" %}</label>
                <input id="name" type="text"  name="name" value="{{highlight.name}}">
            </div>
            <div class="form-group">
                <label for="display_name">{% trans "Display Name" %}</label>
                <input id="display_name" type="text"  name="display_name" value="{{highlight.display_name}}">
            </div>
            <div class="form-group">
                <label for="slug">{% trans "Slug" %}</label>
                <input id="slug" type="text"  name="slug" value="{{highlight.slug}}">
            </div>
        </div>
        <div class="flex flex-left">
            <div class="form-group">
                <span class="padding-bottom">{% trans "Gender" %}</span>
                <div class="row">
                    {% for k,v in GENDER %} 
                    <span class="padding"><input id="gender-{{v}}" class="js-input-gender" type="radio" name="gender" value="{{k}}" {% if k == highlight.gender %}checked{% endif %}> <label for="gender-{{v}}">{{v}}</label></span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <span class="padding-bottom">{% trans "Status" %}</span>
                <div class="row"><span class="padding"><input id="is_active" type="checkbox"  name="is_active" {% if highlight.is_active %}checked{% endif %}><label for="is_active">{% trans "Active" %}</label></span></div>
            </div>
        </div>
        
        <div class="flex flex-left flex-wrap">
                <div class="form-group">
                    <label class="padding-bottom" for="description">{% trans "Description" %}</label>
                    <textarea id="description" class="limited-input bordered" name="description" cols="30" rows="10" data-target="#description-counter" data-max-length="{{DESCRIPTION_MAX_SIZE}}">{{highlight.description|default_if_none:''}}</textarea>
                </div>
                <div class="row padding-l"> <span id="description-counter" class="char-counter">{{highlight.description|length}}</span><span class="text-max-length">/{{DESCRIPTION_MAX_SIZE}}</span></div>
        </div>
        {% include "tags/highlight_product_update.html" with product_list=products %}
        <div class="actions flex-right">
                <a class="mat-button mat-button-outline js-cancel" href="{% url HIGHLIGHT_URL highlight.highlight_uuid %}">{{UI_STRINGS_CONTEXT.UI_CANCEL_BTN_LABEL}}</a>
                <button class="mat-button mat-button-default" type="submit">{{UI_STRINGS_CONTEXT.UI_SEND_BTN_LABEL}}</button>
        </div>  
    </div><!--End of box-->
    </div>
</form>
</div>