{% load i18n %}
{% load core_tags %}
{% load blog_tags %}
{% if kiosk %}
<div class="container padding full">
    <div class="flex flex-wrap full">
        {% for entry in kiosk %}
        <div class="col-m-12 col-3">
            <div class="card">
                <div class="title"><span>{{entry.category.name}}</span></div>
                <div class="card-body">
                    <ul>
                        {% for post in entry.posts %}
                        <li>
                            {% if forloop.first %}
                            <div class="post lead">
                                {% if post.image %}
                                <div class="full">
                                    <img src="{{post.image}}" alt="{{post.title}}">
                                </div>
                                {% endif %}
                                <div class="post-entry">
                                    <div class="link-wrapper"><a href="{{post.get_absolute_url}}">{{post.title}}</a></div>
                                </div>
                            </div>
                            {% else %}
                            <div class="post-entry">
                                <div class="link-wrapper"><a href="{{post.get_absolute_url}}">{{post.title}}</a></div>
                            </div>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}