{% load i18n %}
{% load core_tags %}
{% load blog_tags %}
<nav class="navbar navbar-expand">
    <div class="container px-5">
        <div class="flex flex-left">
            <button class="navbar-toggler" type="button" data-ui-toggle="collapse" data-ui-target="navbar-main-menu"><i class="fas fa-bars"></i></button>
            <a href="{{SITE_HOST}}" class="navbar-brand">{{SITE_NAME}}</a>
            {% if categories %}
            <ul class="navbar-nav hidden-m">
                {% for category in categories %} <li class="nav-item"><a href="{{SITE_HOST}}{{category.get_slug_url}}" class="nav-link">{{category.name|category_name}}</a></li> {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="flex main-nav-bar">
            <ul class="navbar-nav">
                {% if is_dashboard_allowed %}
                <li class="nav-item"><a class="nav-link" href="{{SITE_HOST}}{%url 'dashboard:home'%}" title="{% trans 'Dashboard' %}"><i class="fas fa-tachometer-alt icon"></i><span class="hidden-m">{% trans "Dashboard" %}</span></a></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                <li class="nav-item js-action-abtest" data-action="1"><a class="nav-link" href="{{SITE_HOST}}{% url 'accounts:login' %}?next={{request.path}}" title="{% trans 'Login' %}"><i class="fas fa-sign-in-alt icon"></i></a></li>
                {% endif %}
                <li class="nav-item hidden-m"><a class="nav-link" href="{{SITE_HOST}}" title="{% trans 'Search for posts' %}"><i class="fas fa-search icon"></i></a></li>
            </ul>
        </div>
        
        <div class="collapse navbar-collapse" id="navbar-main-menu">
            <div class="navbar-menu-wrapper">
                {% if categories %}
                <ul class="navbar-nav primary">
                    {% for category in categories %} <li class="nav-item"><a href="{{SITE_HOST}}{{category.get_slug_url}}" class="nav-link">{{category.name|category_name}}</a></li> {% endfor %}
                </ul>
                {% endif %}
                <ul class="navbar-nav secondary">
                    <li class="nav-item"><a class="nav-link" href="{{SITE_HOST}}" title="{% trans 'Search for posts' %}"><i class="fas fa-search icon"></i>{% translate "Search" %}</a></li>
                    {% if is_dashboard_allowed %}
                    <li class="nav-item"><a class="nav-link" href="{{SITE_HOST}}{%url 'dashboard:home'%}" title="{% trans 'Dashboard' %}"><i class="fas fa-tachometer-alt icon"></i>{% trans "Dashboard" %}</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{SITE_HOST}}{% url 'me' %}" title="{% trans 'Account' %}"><i class="fas fa-user icon"></i>{{UI_STRINGS_CONTEXT.UI_USER_ACCOUNT|default:_('My Account')}}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{SITE_HOST}}{% url 'blog:create-post' %}"><i class="fas fa-edit icon"></i>{{UI_STRINGS_CONTEXT.UI_NEW_BLOG_POST}}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{SITE_HOST}}{% url 'me' %}" title="{% trans 'Account' %}"><i class="fas fa-bell icon"></i>{% translate "Notifications" %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{SITE_HOST}}{% url 'blog:histories' %}" title="{% trans 'History' %}"><i class="fas fa-history icon"></i>{% translate "History" %}</a></li>
                    <li class="nav-item"><a class="signout-btn nav-link signout" href="{{SITE_HOST}}{% url 'accounts:logout' %}" title="{% trans 'Logout' %}"><i class="fas fa-sign-out-alt icon"></i>{% trans 'Logout' %}</a></li>
                    {% else %}
                        <li class="nav-item js-action-abtest" data-action="1"><a class="nav-link" href="{{SITE_HOST}}{% url 'accounts:login' %}?next={{request.path}}" title="{% trans 'Login' %}"><i class="fas fa-sign-in-alt icon"></i>{% trans 'Login' %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>  