{% load i18n %}
<ul {% if nav_tree_class is None %}class="nav-tree"{% endif %}>

{% for c  in categories_map %}
        {% if c.children|length %}  
        <li>
            <input id="{{c.category.name}}" type="checkbox">
            <label class="nav-label" for="{{c.category.name}}">{% trans c.category.display_name %}</label>
            {% nav_tree c %}
        </li>
        {% else %}
        <li>
            <a class="nav-link" href="{{c.category.get_slug_url}}"><span class="nav-label">{% trans c.category.display_name %}</span></a>
        </li>
        {% endif %}
    
{% endfor %}
</ul>