{% load i18n %} 

{% if page_set.has_other_pages %}

<ul class="pagination full">
    {% if page_set.has_previous %}
    <li class="pagination--page">
        {% if params %}
        <a class="js-pagination" data-page="{{page_set.previous_page_number}}" href="?{{params}}&page={{page_set.previous_page_number}}">&laquo;</a>
        {% else %}
        <a class="js-pagination" data-page="{{page_set.previous_page_number}}" href="?page={{page_set.previous_page_number}}">&laquo;</a>
        {% endif %}
    </li>
    {% else %}
    <li class="pagination--page disabled">&laquo;</li>
    {% endif %}
    {% for i in page_set.paginator.page_range  %}
    {% if i == page_set.number %}
    <li class="pagination--page active"><span>{{i}} <span class="sr-only">({% trans "current" %})</span> </span></li>
    {% else %} 
    <li class="pagination--page">
        {% if params %}
        <a class="js-pagination" data-page="{{i}}" href="?{{params}}&page={{i}}">{{i}}</a>
        {% else %}
        <a class="js-pagination" data-page="{{i}}" href="?page={{i}}">{{i}}</a>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    {% if page_set.has_next %}
    <li class="pagination--page">
        {% if params %}
        <a class="js-pagination" data-page="{{page_set.next_page_number}}" href="?{{params}}&page={{page_set.next_page_number}}">&raquo;</a>
        {% else %}
        <a class="js-pagination" data-page="{{page_set.next_page_number}}" href="?page={{page_set.next_page_number}}">&raquo;</a>
        {% endif %}
    </li>
    {% else %}
    <li class="pagination--page disabled">&raquo;</li>
    {% endif %}
</ul>
{% endif %}