{% load i18n %}

<div class="mat-box full">
    <div class="mat-box-title full"><span class="bold">{{UI_STRINGS_CONTEXT.UI_RESOURCE_NOT_FOUND_TITLE}}</span></div>
    <div class="mat-box-content">
        <span class="text-center">{{UI_STRINGS_CONTEXT.UI_RESOURCE_NOT_FOUND}}</span>
    </div>
    <div class="mat-box-footer">
        <div class="actions">
            <a class="mat-button mat-button-outline" href="{% url 'home' %}"><span>{{UI_STRINGS_CONTEXT.UI_DISCOVER_OUR_BLOG}}</span></a>
        </div>
    </div>
</div>