{% load i18n %}

<form class="form" name="add-category-form"  action="{% url 'dashboard:subscription-create' %}" method="POST">{% csrf_token %}
<div class="mat-box container">
<div class="col-xs-12 col-7">
    <div class="box create-form">
        <input type="hidden" name="added_by" value="{{request.user.pk}}">
        <div class="flex flex-left flex-wrap">
            <div class="form-group">
                <label for="name">{% trans "Name" %}</label>
                <input id="name" type="text"  name="name">
            </div>
            <div class="form-group">
                <label for="title">{% trans "Title" %}</label>
                <input id="title" type="text"  name="title">
            </div>
            <div class="form-group">
                <label for="subtitle">{% trans "Subtitle" %}</label>
                <input id="subtitle" type="text"  name="subtitle">
            </div>
        </div>
        <div class="flex flex-left">
            <div class="form-group">
                <label for="fee">{% trans "Fee" %}</label>
                <input id="fee" type="text"  name="fee">
            </div>
            <div class="form-group">
                    <span class="padding-bottom">{% trans "Status" %}</span>
                    <div class="row"><span class="padding"><input id="is_active" type="checkbox"  name="is_active"><label for="is_active">{% trans "Active" %}</label></span></div>
            </div>
        </div>

        <div class="actions flex-right">
                <a class="mat-button mat-button-outline js-cancel" href="{% url 'dashboard:home' %}">{% trans "Cancel" %}</a>
                <button class="mat-button mat-button-default" type="submit">{% trans "Create" %}</button>
        </div>
    </div>
</div>
</div><!-- End of container-->
    
</form>