{% load i18n %}
{% load order_tag %}

<div class="mat-box full">
    <div class="flex flex-left flex-wrap">
        <div class="entry-detail">
            <span>{% trans "Amount" %}</span><span>{{payment.amount|floatformat:"-2"}} {% trans CURRENCY %}</span>
        </div>
        <div class="entry-detail">
            <span>{% trans "Seller" %}</span><span>{{payment.seller.get_full_name}}</span>
        </div>
        <div class="entry-detail">
            <span>{% trans "Subscription fee" %}</span><span>{{payment.subscription_fee|floatformat:"-2"}} {% trans CURRENCY %}</span>
        </div>
    </div>
    <div class="flex flex-left flex-wrap">
        <div class="entry-detail">
            <span>{% trans "Subscription" %}</span><span>{{payment.subscription_title}}</span>
        </div>
        <div class="entry-detail">
            <span>{% trans "Month" %}</span><span>{{payment.month|date:"F Y"}}</span>
        </div>
        <div class="entry-detail">
            <span>{% trans "Payment Mode" %}</span><span>{{payment.payment_mode|pay_mode_value}}</span>
        </div>
        <div class="entry-detail">
            <span>{% trans "Create at" %}</span><span>{{payment.created_at|date:"F j, Y"}}</span>
        </div>
    </div>
</div><!--End of mat-box-->
