{% load i18n %}

<section class="padding border-bottom">
    <div class="container padding-h margin-v">
        <div class="margin-bottom text-center">
            <h2 class="bold">{{testimonials.title}}</h2>
            <p class="lead">{{testimonials.lead}}</p>
        </div>
        <div class="row flex-center">
            {% for t in testimonials.list %}
            <div class="col-m-6 col 4">
                <div class="card margin-bottom">
                    <div class="card-body padding">
                        <div class="flex">
                            <div class="flex-shrink-0"><i class="fas fa-quote"></i></div>
                            <div class="margin-l">
                                <p class="margin-bottom">{{t.content}}</p>
                                <div class="small">{{t.user}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>