*.sqlite3
*.db
*.pyc
staticfiles/*
static_root/*
*.jpg
*.png
*.bmp
*.pdf
*.jpeg
*.ico
*.csv
.inv
translation_tools
.vscode
*/migrations/*
*/__pycache__/*
flished_site*.conf
flished_site*.conf.backup
robots.txt
ads.txt
log
logs
*/build/*
*/js-minify/*
static/build
*.log
credentials.json
toxrequirements.txt
celerybeat-schedule
media
__pycache__
XDG_CACHE_HOME
