*.sqlite3
*.db
*.pyc
staticfiles/*
static_root/*
*.jpg
*.png
*.bmp
*.pdf
*.jpeg
*.ico
*.csv
translation_tools
.vscode
*/migrations/*
*/__pycache__/*
jasiri_site*.conf
jasiri_site*.conf.backup
robots.txt
log
logs
*/build/*
*/js-minify/*
static/build
*.log
toxrequirements.txt
celerybeat-schedule
media
__pycache__
XDG_CACHE_HOME
