
{% extends "base.html" %}
{% load i18n %} 

{% block SEARCH_BAR %}
{% endblock SEARCH_BAR %}
{% block HEADER_BANNER %}
    <h3>{% trans "Password reset" %}</h3>
    <div class="header--banner">
        <h4>{% trans "Confirmation" %}</h4>
        <a href="{% url 'home' %}" class="mat-button mat-button-text">{% trans "Home page" %}</a>
    </div>
{% endblock HEADER_BANNER %}
{% block CATEGORIES %}

{% endblock CATEGORIES %}

{% block MAIN %}
<div class="container">
    <section class="mat-box">
            <p>{% trans "We have sent you an email with instructions on how to reset your password." %}</p>
            <p>{% trans "You should receive it in a moment." %}</p>
            <p>
                {% trans "Check that you have given the correct email address, the one with which you registered with us." %}
            </p>
            <p>{% trans "Also check your spam." %}</p>            
        
    </section> <!-- End of Section Login-->
</div><!--End of acontainer -->
{% endblock MAIN %}
{% block FOOTER_CONTENT %}{% endblock FOOTER_CONTENT %}

