{% extends "base.html" %}
{% load i18n %} 


{% block SEARCH_BAR %}
{% endblock SEARCH_BAR %}

{% block HEADER_BANNER %}
{% endblock HEADER_BANNER %}

{% block CATEGORIES %}

{% endblock CATEGORIES %}

{% block MAIN %}
    <div id="account-dialog" class="mat-box">
        <h4>{{UI_STRINGS_CONTEXT.UI_PASSWORD_RESET}}</h4>
        <div id="user-login" class="user-login">
                <p>{{UI_STRINGS_CONTEXT.UI_FORGET_PASSWORD_QUESTION}}</p>             
                <p>{{UI_STRINGS_CONTEXT.UI_PASSWORD_RESET_INSTRUCTION}}</p>
                <form id="password-reset-form" class="form" action="{%url 'accounts:password-reset'%}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <div class="helptext">
                            <ul>
                                <li>{{UI_STRINGS_CONTEXT.UI_PASSWORD_RESET_HELP_TEXT}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">{% trans "Email" %}</label>
                        <input id="email" type="email" name="email" required>
                    </div>
                    
                    <div class="actions">
                        <a class="mat-button mat-button-outline" href="{%url 'home' %}">{{UI_STRINGS_CONTEXT.UI_CANCEL_BTN_LABEL}}</a>
                        <button class="mat-button mat-button-default" type="submit">{{UI_STRINGS_CONTEXT.UI_SEND_BTN_LABEL}}</button>
                    </div>
                </form>
        </div> <!-- End of Section Login-->
    </div><!--End of account-dialog -->
{% endblock MAIN %}
{% block FOOTER_CONTENT %}{% endblock FOOTER_CONTENT %}
