
{% extends "base.html" %}
{% load i18n %} 
{% block HEADER_PANEL %}
  <div class="header--panel">
       <ul class="site-panel">
        <li><a class="link logo" href="{%url 'home'%}"> {{site_name}} </a></li>
       </ul>
  </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}

{% endblock HEADER_BANNER %}

{% block MAIN %}

<div class="padded-wrapper-top">
  <div class="container user-registration">
    <div class="col-m-12 col-6">
        
    </div>
    <div class="col-m-12 col-6">
      <div class="row padding-1x">
          <h3>{{SITE_NAME}}</h3>
      </div>
      <div class="row padding-1x">
          <h4 class="capitalize">{%trans 'Sign up'%}</h4>
      </div>
      <form class="signup-form full" action="{% url 'accounts:register'%}" method="POST">{% csrf_token %}
        <div class="grid">
            <div class="mat-box">
              {% include "tags/form_snippet.html" with form=user_form %}
              <div class="field-wrapper">
                    <div class="mat-input">
                      <label for="account_type">{% trans "Account type" %}</label>
                      <select name="account_type" id="account_type">
                        <option value="">{% trans "Select an Account Type" %}</option>
                        {% for k, v in ACCOUNT_TYPE %} <option value="{{k}}" {% if k == 3 %}selected{% endif %}>{% trans v %}</option> {% endfor %}
                      </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding-1x"></div>
        <div class="actions flex-center">
          <a class="mat-button mat-button-outlined" href="{%url 'home'%}"> {% trans "Cancel" %} </a>
          <button class="mat-button mat-button-default" type="submit">{%trans 'Create My Account'%} </button>
        </div>
        <div class="actions flex-center">
            <span class="register-hint">{% trans "Already have an account ?" %}</span><a class="mat-button mat-button-default register-btn" href="{% url 'accounts:login' %}">{% trans "Sign In" %}</a>
        </div>
      </form>
     </div>
  </div>
</div>
{% endblock MAIN %}
