{% extends "base.html" %}
{% load i18n %} 

{% block SEARCH_BAR %}
{% endblock SEARCH_BAR %}

{% block HEADER_BANNER %}
    <div class="container">
        <h4>{% trans "CHANGE PASSWORD" %}</h4>
    </div>
{% endblock HEADER_BANNER %}
{% block CATEGORIES %}

{% endblock CATEGORIES %}

{% block MAIN %}
    <div id="account-dialog" class="container">
        <section id="user-login" class="user-login tab-content">
                <form id="password-change-form" class="form" action="{%url 'accounts:password-change'%}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <span class="helptext">
                            <ul>
                                <li>{% trans "Your password should not be too similar to your other personal information" %}</li>
                                <li>{% trans "Your password must contain at least 8 characters" %}</li>
                                <li>{% trans "Your password cannot be a commonly used password" %}</li>
                                <li>{% trans "Your password must not be entirely numeric" %}</li>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group">
                        <input id="old-password" type="password" name="old_password" placeholder="{%trans 'Old password'%}" required>
                    </div>
                    <div class="form-group">
                        <input id="new-password1" type="password" name="new_password1" placeholder="{%trans 'New password'%}" required>
                    </div>
                    <div class="form-group">
                        <input id="new-password2" type="password" name="new_password2" placeholder="{%trans 'Confirm password'%}" required>
                    </div>

                    <div class="actions">
                        <a class="mat-button mat-button-text" href="{%url 'home' %}">{{UI_STRINGS_CONTEXT.UI_CANCEL_BTN_LABEL}}</a>
                        <button class="mat-button mat-button-default" type="submit">{{UI_STRINGS_CONTEXT.UI_SEND_BTN_LABEL}}</button>
                    </div>
                </form>
            
        </section> <!-- End of Section Login-->
    </div><!--End of account-dialog -->
{% endblock MAIN %}
{% block FOOTER_CONTENT %}{% endblock FOOTER_CONTENT %}
