
{% extends "base.html" %}
{% load i18n %} 
{% block SEARCH_BAR %}
{% endblock SEARCH_BAR %}

{% block HEADER_BANNER %}
<div class="mat-box">
    <h4>{% trans "PASSWORD CHANGED" %}</h4>
</div>
    
{% endblock HEADER_BANNER %}

{% block CATEGORIES %}

{% endblock CATEGORIES %}
{% block MAIN %}

<div class="mat-box">
    <p class="confirmation">{% trans "Your password has been changed successfully" %}</p>
    <a class="link" href="{% url 'home' %}">{% trans "Back to home page" %}</a>
</div>
{% endblock MAIN %}
{% block FOOTER_CONTENT %}{% endblock FOOTER_CONTENT %}

