{% extends "base.html" %}
{% load i18n %} 
{% block SEARCH_BAR %}
{% endblock SEARCH_BAR %}
{% block HEADER_BANNER %}
    <h3>{% trans 'Password reset confirmation' %}</h3>
    <div class="header--banner">
        <p>{% trans "Confirmation" %}</p>
    </div>
{% endblock HEADER_BANNER %}

{% block CATEGORIES %}

{% endblock CATEGORIES %}

{% block MAIN %}
    <div class="container">
        <section class="mat-box">
                {% if validlink %}
                <p>{% trans "Please enter your new password twice." %}</p>
                <form class="form" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label for="password1">{% trans "New password" %}</label>
                        <input type="password" name="new_password1" required>
                    </div>
                    <div class="form-group">
                        <label for="password2">{% trans "Confirm password" %}</label>
                        <input type="password" name="new_password2" required>
                    </div>
                    <div class="actions">
                        <a href="{% url 'home' %}" class="mat-button mat-button-text">{{UI_STRINGS_CONTEXT.UI_CANCEL_BTN_LABEL}}</a>
                        <button class="mat-button mat-button-default" type="submit">{{UI_STRINGS_CONTEXT.UI_SEND_BTN_LABEL}}</button>
                    </div>
                </form>

                {% else %}
                <p>{% trans "The reset password link is invalid. Make a new request if you want to reset your password" %}</p>
                {% endif %}
        </section> <!-- End of Section Login-->
    </div><!--End of account-dialog -->
{% endblock MAIN %}
{% block FOOTER_CONTENT %}{% endblock FOOTER_CONTENT %}


