{% extends "base.html" %}
{% load i18n %}
{% block SEARCH_BAR %}
{% endblock SEARCH_BAR %}
{% block HEADER_BANNER %}
    <div class="header--banner">
        <h3>{% trans 'Password changed' %}</h3>
        <a class="mat-button mat-button-text" href="{% url 'home' %}">{% trans "Back to home page" %}</a>
    </div>
{% endblock HEADER_BANNER %}
{% block CATEGORIES %}

{% endblock CATEGORIES %}
{% block MAIN %}
        <p><a class="mat-button mat-button-text" href="{%url 'accounts:login' %}">{% trans 'Login' %}</a></p>
{% endblock MAIN %}
{% block FOOTER_CONTENT %}{% endblock FOOTER_CONTENT %}