{% autoescape on %}
<div class="code-area" id="code-area-{{code.id}}">
    <div class="code-border-frame">
        <div class="code-header">
            <ul>
                <li><span><i class="fas fa-circle green"></i></span></li>
                <li><span><i class="fas fa-circle red"></i></span></li>
                <li><span><i class="fas fa-circle yellow"></i></span></li>
            </ul>
        </div>
        <div class="code-wrapper full">
            <span id="code-{{code.id}}" class="code full">{{code.data.code}}</span>
        </div>
        
    </div>
    
</div>

{% endautoescape %}