{% autoescape off %}
<div class="link-meta" id="link-{{linktool.id}}">
    <a id="{{linktool.id}}" href="{{linktool.data.link}}" title="{{linktool.data.meta.title}}">
        {% if linktool.data.meta.image.url %}
        <div class="meta-img" data-src="{{linktool.data.meta.image.url}}"><img src="{{linktool.data.meta.image.url}}" alt="{{linktool.data.meta.title}}"></div>
        {% endif %}
        <div class="meta-title">{{linktool.data.meta.title}}</div>
        <p class="meta-description">{{linktool.data.meta.description}}</p>
        <span class="meta-site-name">{{linktool.data.meta.site_name}}</span>
    </a>
</div>

{% endautoescape %}