/* global styles */

html{
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  font-family: "Nunito", sans-serif;
  line-height: 1.5em;
  margin: 0;
  height: 100%;
}

*, ::after, ::before {
  box-sizing: border-box;
}

* {
  background-color: transparent;
  /*color: black;*/
  font-family: "Nunito", sans-serif;
  line-height: 1.5em;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p{
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: none;
  text-align: left;
}



@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Nunito_Sans/NunitoSans-Regular.ttf');
}
@font-face {
  font-family: 'Nunito-Bold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('fonts/Nunito_Sans/NunitoSans-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Montserrat/Montserrat-Regular.woff2');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('fonts/Montserrat/Montserrat-Bold.woff2');
}