/* grid styles */

.container {
  min-width: 100% !important;
  /*height: 100%;*/
  /*margin: 0;*/
  display: flex !important;
  flex-wrap: wrap;
  position: relative !important;
  /*align-items: baseline !important;*/
  justify-content: center !important;
}

.main-container{
  min-width: 100% !important;
  display: flex !important;
  flex-wrap: wrap;
  position: relative !important;
  /*align-items: baseline !important;*/
  justify-content: center !important;
}

.display-flex{
  display: flex;
}

.flex{
	display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: baseline;
}



.full{
  min-width: 100%;
}

.full-h{
  height: 100%;
}

.col {
	position: relative;
	margin: 0;
}


/*
.col-1 { width: 8.333%; }
.col-2 { width: 16.666%; }
.col-3 { width: 25%; }
.col-4 { width: 33.333%; }
.col-5 { width: 41.666%; }
.col-6 { width: 50%; }
.col-7 { width: 58.333%; }
.col-8 { width: 66.666%; }
.col-9 { width: 75%; }
.col-10 { width: 83.333%; }
.col-11 { width: 91.666%; }
.col-12 { width: 100%; }
*/
/* and so on up to 12 … */
/*
.col-1 { flex-basis: 8.333%; }
.col-2 { flex-basis: 16.666%; }
.col-3 { flex-basis: 25%; }
.col-4 { flex-basis: 33.333%; }
.col-5 { flex-basis: 41.666%; }
.col-6 { flex-basis: 50%; }
.col-7 { flex-basis: 58.333%; }
.col-8 { flex-basis: 66.666%; }
.col-9 { flex-basis: 75%; }
.col-10 { flex-basis: 83.333%; }
.col-11 { flex-basis: 91.666%; }
.col-12 { flex-basis: 100%; }
*/

/**********************************/
.col-flex-1 { flex-basis: 8.333%; }
.col-flex-2 { flex-basis: 16.666%; }
.col-flex-3 { flex-basis: 25%; }
.col-flex-4 { flex-basis: 33.333%; }
.col-flex-5 { flex-basis: 41.666%; }
.col-flex-6 { flex-basis: 50%; }
.col-flex-7 { flex-basis: 58.333%; }
.col-flex-8 { flex-basis: 66.666%; }
.col-flex-9 { flex-basis: 75%; }
.col-flex-10 { flex-basis: 83.333%; }
.col-flex-11 { flex-basis: 91.666%; }
.col-flex-12 { flex-basis: 100%; }


.force-hidden{
  display: none !important;
}

.hidden{
  display: none;
}

.row{
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	width: 100%;
}

.row-left, .flex-left{
  justify-content: flex-start !important;
}

.row-right, .flex-right{
  justify-content: flex-end !important;
}

.align-left{
  align-items: flex-start !important;
}
.align-right{
  align-items: flex-end !important;
}

.align-center{
  align-items: center !important;
}

.align-baseline{
  align-items: baseline !important;
}

.flex-wrap{
  flex-wrap: wrap;
}
.flex-center{
  justify-content: center !important;
}

.flex-column{
  flex-direction: column;
  flex: 1 0 auto;
}

.space-around{
  justify-content: space-around;
}

.space-between{
  justify-content: space-between;
}
.column {
  --columns: 12; /* number of columns in the grid system */
  --width: var(--width-mobile, 0); /* width of the element */
  flex-basis: calc(var(--width) / var(--columns) * 100%);
}


.grid, .gridview{
  display: flex;
  width: 100%;
  margin: 0;
	flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;

}

.listview{
  display: flex;
  min-width: 100%;
  margin: 0.2em;
  padding: 0.5em;
	flex-direction: column;
  /*flex-wrap: wrap;*/
  text-decoration: none;
  list-style: none;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.listview .list-title{
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  text-decoration: none;
  border: 2px solid #ccc;
}

.listview .list-item{
  flex-basis: 100%;
}

.listview .list-item .listview{
  display: none;
}
.listview .list-item:hover .listview{
  display: flex;
}

.responsive {
  --width-mobile: 12;
  --width-tablet: 6;
  --width-desktop: 3;
}
.responsive-3 {
  --width-mobile: 12;
  --width-tablet: 6;
  --width-desktop: 4;
}

@media only screen and (max-width:30em){
  /**********************************/
.col-xs-1 { width: 8.333%; }
.col-xs-2 { width: 16.666%; }
.col-xs-3 { width: 25%; }
.col-xs-4 { width: 33.333%; }
.col-xs-5 { width: 41.666%; }
.col-xs-6 { width: 50%; }
.col-xs-7 { width: 58.333%; }
.col-xs-8 { width: 66.666%; }
.col-xs-9 { width: 75%; }
.col-xs-10 { width: 83.333%; }
.col-xs-11 { width: 91.666%; }
.col-xs-12 { width: 100%; }
.hidden-xs {display: none;}
.box{ width: 100%;}
.mat-box{width: 100%;}
}
  
@media only screen and (max-width:40em){
  .column {
    --width-tablet: var(--width-tablet);
    --width: var(--width-tablet);
  }
  .col-m-1 { width: 8.333%; }
  .col-m-2 { width: 16.666%; }
  .col-m-3 { width: 25%; }
  .col-m-4 { width: 33.333%; }
  .col-m-5 { width: 41.666%; }
  .col-m-6 { width: 50%; }
  .col-m-7 { width: 58.333%; }
  .col-m-8 { width: 66.666%; }
  .col-m-9 { width: 75%; }
  .col-m-10 { width: 83.333%; }
  .col-m-11 { width: 91.666%; }
  .col-m-12 { width: 100%; }
  .hidden-m {display: none;}
  .box{ width: 100%;}
  .mat-box{width: 100%;}
}


@media screen and (min-width:40em){
.column {
    --width-desktop: var(--width-desktop);
    --width: var(--width-desktop);
}

.col-1 { width: 8.333%; }
.col-2 { width: 16.666%; }
.col-3 { width: 25%; }
.col-4 { width: 33.333%; }
.col-5 { width: 41.666%; }
.col-6 { width: 50%; }
.col-7 { width: 58.333%; }
.col-8 { width: 66.666%; }
.col-9 { width: 75%; }
.col-10 { width: 83.333%; }
.col-11 { width: 91.666%; }
.col-12 { width: 100%; }
.hidden-xl {display: none;}

}


@media (min-width: 50em) {
  
}