/* PAY COLORS */
/*
:root{
    --body-bg: #1F2833;
    --header-hover-color: #66FCF1; 
    --header-bg: #45A29E;
    --header-color: #fff;
    --header-panel-bg :#0B0C10;
    --header-panel-color: #fff;
    --banner-bg: #45A29E;
    --banner-color: #fff;
    --card-bg : transparent;
    --card-color : #616161;
    --btn-border : 1px solid #66FCF1;
    --btn-color: #66FCF1;
    --input-border : 1px solid #ccc;
    --btn-hover-border : 1px solid #454545;
    --btn-hover-color: #454545;
    --box-shadow: 0 1px 0 rgba(9,45,66,.25);
    --in-bg : #4caf50;
    --in-color: #eeeeee;
    --out-bg:#e91e63;
    --out-color:#eeeeee;
    --logo-bg: #fff;
    --logo-color: #242424;
    --nav-link-color: #fff;
    --nav-link-hover-color: #242424;
    --form-bg: transparent;
    --form-color: #242424;
    --sidebar-bg-color:#ccc;
    --sidebar-color: #224422;
  
  }
  */

