{% extends "base.html" %}
{% load i18n %} 
{% load static %}

{% block HEADER_BANNER %}
<div class="actions">
    <a href="{% url 'blog:blog-home' %}" class="mat-button mat-button-text"><span>{{UI_STRINGS_CONTEXT.UI_BLOG_HOME_LABEL}}</span></a>
</div>
{% endblock HEADER_BANNER %}

{% block MAIN %}
<div class="full">
    <ul>
        <li>{{blog_post}}</li>
        <li>{{blog_post.slug}}</li>
        <li>{{blog_post.content}}</li>
    </ul>
  
  
</div>
{% endblock MAIN %}
{% block FOOTER %}{% endblock FOOTER %}