{% extends "base.html" %}
{% load i18n %} 
{% load static %}


{% block MAIN %}
<div class="full">
  {% if story_list %}
  <div class="story-wrapper">
    <div class="post-container">
      {% include "tags/blog_posts_tag.html" with blog_posts=story_list %}
      {% include "tags/recommendations.html" with blog_posts=recommendations %}
    </div>
    {% include "tags/pagination.html" with page_set=story_list %}
  </div>
  {% else %}
  <p>{{UI_STRINGS_CONTEXT.UI_NO_BLOG_POSTS_HINT}}</p>
  {% endif %}
</div>
{% endblock MAIN %}