{% extends "base.html" %}
{% load i18n %} 
{% load static %}
{% load core_tags %}
{% load blog_tags %}

{% block HEADER_BANNER %}
<div class="actions">
    <a href="{% url 'blog:blog-home' %}" class="mat-button mat-button-text"><span>{{UI_STRINGS_CONTEXT.UI_BLOG_HOME_LABEL}}</span></a>
</div>
{% endblock HEADER_BANNER %}

{% block MAIN %}
<div class="container">
    <div class="post-wrapper">
        <div class="post-header">
            <span>{{blog_post.author.get_full_name}}</span>|<span>{{blog_post.created_at}}</span>|<span>{{blog_post.post_status|post_status_value}}</span>
        </div>
        <div class="post">
            {% render_post blog_post %}
        </div>
    </div>
</div>
{% endblock MAIN %}
{% block FOOTER %}{% endblock FOOTER %}