{% extends "base.html" %}
{% load i18n %} 
{% load static %}
{% load core_tags %}
{% load blog_tags %}

{% block HEADER_BANNER %}
<div class="actions">
    <a href="{% url 'blog:blog-home' %}" class="mat-button mat-button-text"><span>{{UI_STRINGS_CONTEXT.UI_BLOG_HOME_LABEL}}</span></a>
</div>
{% endblock HEADER_BANNER %}

{% block MAIN %}
<div class="container">
    <article class="post-wrapper">
        <div class="post-header">
            <a href="{% url 'blog:author-stories' blog_post.author.username %}"><span>{{blog_post.author.get_full_name}}</span> </a>|<span>{{blog_post.created_at}}</span>{% if blog_post.post_status == POST_STATUS_DRAFT %}|<span>{{blog_post.post_status|post_status_value}}</span>{% endif %}{% if blog_post.author == request.user %} | <a href="{{blog_post.get_update_url}}" title="{{UI_STRINGS_CONTEXT.UI_UPDATE_BLOG_POST}}"><i class="fas fa-edit icon"></i></a>{% endif %}
        </div>
        <div class="post">
            <div class="post-title"><span>{{blog_post.title}}</span></div>
            {% comment %}
                <div class="post-sharing">
                    <ul class="flex flex-left">
                        <li><a href="#"><i class="fab fa-facebook icon"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter icon"></i></a></li>
                        <li><a class="js-action-abtest" data-action="13" href="https://api.whatsapp.com/send?text={{UI_WHATSAPP_SHARE_BODY|urlencode}}"><i class="fab fa-whatsapp icon"></i></a></li>
                    </ul>
                </div>
            {% endcomment %}
            {% render_post blog_post %}
            <div class="post-comments">
                
                <div id="comments-wrapper" class="comments-wrapper">
                    <div class="create-comment">
                        
                        <form action="{% url 'blog:create-comment' blog_post.author.username blog_post.slug %}"  class="form" method="POST">{% csrf_token %}
                            {% if request.user.is_authenticated %}
                            <input type="hidden" name="author" value="{{request.user.pk}}">
                            {% endif %}
                            <input type="hidden" name="post" value="{{blog_post.pk}}">
                            <div class="flex flex-left flex-wrap full">
                                <div class="form-group full">
                                    <label class="padding-bottom" for="new-comment">{{UI_STRINGS_CONTEXT.UI_COMMENT_LABEL}}</label>
                                    <textarea id="new-comment" class="limited-input bordered full" name="comment" cols="30" rows="10" data-target="#comment-counter" data-max-length="{{COMMENT_MAX_SIZE}}" placeholder="{% if not request.user.is_authenticated %}{{UI_STRINGS_CONTEXT.UI_COMMENT_LOGIN_REQUIRED_HINT}}{% else %}{{UI_STRINGS_CONTEXT.UI_POST_NEW_COMMENT_PLACEHOLDER}}{% endif %}" {% if not request.user.is_authenticated %}disabled{% endif %}></textarea>
                                </div>
                                <div class="row padding-l"> <span id="comment-counter" class="char-counter">0</span><span class="text-max-length">/{{COMMENT_MAX_SIZE}}</span></div>
                            </div>
                            <div class="actions flex-right">
                                <button class="mat-button-default" {% if not request.user.is_authenticated %}disabled{% endif %}><span>{{UI_STRINGS_CONTEXT.UI_COMMENT_LABEL}}</span></button>
                            </div>
                        </form>
                    </div>
                    <div class="post-header">
                        <span>{{UI_STRINGS_CONTEXT.UI_COMMENT_LIST_LABEL}}</span>|<span><i class="fas fa-comments icon"></i>{{blog_post.comments.count}}</span>
                    </div>
                    <ul id="comments" class="comments box">
                        {% for comment in blog_post.comments.all %}
                        <li>
                            <div class="comment mat-box">
                                <div class="post-header">
                                    <span class="bold">{{comment.author.get_full_name}}</span>|<span><i class="fas fa-comment icon"></i> {{comment.created_at}}</span>|<span class="js-report-comment" title="{% trans 'Signal this comment' %}"><i class="far fa-flag icon"></i></span>
                                </div>
                                <div>
                                    <p>{{comment.comment}}</p>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                        <li><span class="bold">{{UI_STRINGS_CONTEXT.UI_EDITOR_FIRST_COMMENT_HINT}}</span></li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock MAIN %}
{% block FOOTER %}{% endblock FOOTER %}