{% extends "base.html"%}
{% load i18n %}
{% block HEADER %}

{% endblock HEADER %}

{% block MAIN %}

<div class="flex flex-left full padding-h"><h4>{% trans "Overview" %}</h4></div>
<div class="container">
   {% if recent_posts %}
   <div class="flex flex-left full padding-h medium"><h5>{% trans "Recent posts" %}</h5> <a href="{% url 'blog:blog-home' %}" class="mat-button mat-button-outline"><span class="small">{% trans "See all" %}</span><i class="fas fa-arrow-right icon"></i></a></div>
   {% include "tags/blog_posts_tag.html" with blog_posts=recent_posts SHOW_STATUS=True %}
   {% else %}
   <div class="mat-box">
    <p>{% trans "You have not published a story yet." %}</p>
    <p><a class="mat-button mat-button-default" href="{% url 'home' %}"><span>{{UI_STRINGS_CONTEXT.UI_DISCOVER_OUR_BLOG}}</span></a></p>
   </div>
   {% endif %}
   
</div>
{% endblock MAIN %}
{% block GOOGLE_ANALYTICS %}{% endblock GOOGLE_ANALYTICS %}