{% extends "base.html"%}
{% load i18n %}
{% block HEADER %}

{% endblock HEADER %}

{% block MAIN %}

<div class="container">
   <div class="flex flex-left full padding"><h4>{{UI_STRINGS_CONTEXT.UI_MY_POSTS_LABEL}}({{posts_count|default:'0'}})</h4></div>
   {% if story_list %}
   {% include "tags/blog_posts_tag.html" with blog_posts=story_list SHOW_STATUS=True %}
   {% else %}
   <div class="mat-box container">
    <p>{% trans "You have not published a story yet." %}</p>
    <p><a class="mat-button mat-button-default" href="{{SITE_HOST}}{% url 'blog:create-post' %}"><i class="fas fa-edit icon"></i>{{UI_STRINGS_CONTEXT.UI_NEW_BLOG_POST}}</a></p>
   </div>
   {% endif %}
   
</div>
{% endblock MAIN %}
{% block GOOGLE_ANALYTICS %}{% endblock GOOGLE_ANALYTICS %}