{% extends "base.html" %}
{% load i18n %} 
{% load static %}

{% block HEADER_BANNER %}
<div class="actions">
    <button class="mat-button mat-button-text js-clear-btn">{{UI_STRINGS_CONTEXT.UI_CLEAR_BTN_LABEL}}</button>
    <button class="mat-button mat-button-text js-save-btn">{{UI_STRINGS_CONTEXT.UI_SAVE_BTN_LABEL}}</button>
    <button class="mat-button mat-button-default js-publish-btn">{{UI_STRINGS_CONTEXT.UI_PUBLISH_BTN_LABEL}}</button>
    <a href="{% url 'blog:home' %}" class="mat-button mat-button-text"><span>{{UI_STRINGS_CONTEXT.UI_BLOG_HOME_LABEL}}</span></a>
</div>
{% endblock HEADER_BANNER %}

{% block MAIN %}
<div class="full">
  {% include "tags/editor.html" %}
</div>
{% endblock MAIN %}