{% extends "users_base.html"%}
{% load i18n %}

{% block CONTENT_MAIN %}

{% if perms.auth.view_group %}
<div id="group-delete-dialog" class="dialog">
    <div class="dialog-content">
        <div class="title warning">
            <h4>{% trans "Group Delete Confirmation" %}</h4>
        </div>
        <div class="content">
                <span> {% trans "Do you really want to delete this Group ? " %}</span>
                <span> {% trans "This action is irreversible." %}</span>
        </div>
        <div class="row flex-right">
            <button class="mat-button mat-button-outlined js-close" type="button">{% trans "Cancel" %}</button>
            {% if perms.auth.delete_group %}<button class="mat-button mat-button-default warning js-confirm" type="button">{% trans "Delete" %}</button>{% endif %}
        </div>
    </div><!--End of Dialog Content-->
    
</div><!--End of Dialog-->

<div class="container">
    
        <form action="{% url 'dashboard:groups-delete' %}" method="POST">{% csrf_token %}
        <div class="actions flex-left">
        {% if perms.auth.add_group %}
            <a class="margin" href="{% url 'dashboard:group-create' %}"> <i class="fas fa-plus icon"></i> <span>{% trans "New Group" %}</span></a>
        {% endif %}
        {% if perms.auth.delete_group %}
            <button class="js-activable mat-button mat-button-outline" disabled><i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span></button>
        {% endif %}
        </div>
        
    {% if groups %}
        
        <div class="mat-table-wrapper">
            <div class="mat-table-title padding-v">{% trans "Groups" %}</div>
            <div class="table-wrapper">
            <table id="group-list" class="mat-table js-filter-table">
            
            <thead>
                    <tr>
                        {% if perms.auth.delete_group %}<th scope="col" class="th-checkbox"><input id="filter-select-all" class="js-select-all" type="checkbox" name="allselected" title="Select all"></th>{% endif %}
                        <th scope="col">{% trans "Group Name" %}</th>
                        <th scope="col">{% trans "Permissions" %}</th>
                        <th scope="col">{% trans "Members" %}</th>
                        <th scope="col">{% trans "Details" %}</th>
                    </tr>
            </thead>
            <tbody>
                    {% for g in groups  %}
                    <tr>
                        <td scope="row" data-label="" class="checkbox"><input class="js-selectable" type="checkbox" name="groups" value="{{g.pk}}"></td>
                        <td scope="row" data-label="{% trans 'Name' %}"><span>{{g.name}}</span></td>
                        <td data-label="{% trans 'Permissions' %}"><span>{{g.permissions.count}}</span></td>
                        <td data-label="{% trans 'Members' %}"><span>{{g.user_set.count}}</span></td>
                        <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-outline" href="{% url 'dashboard:group-detail' g.pk %}"><span><i class="fas fa-info icon"></i>{% trans "Detail" %}</span></a></td>
                        
                    </tr>
                    {% endfor %}
                    
            </tbody>
            </table>
            </div>
        </div><!--End of Table Wrapper-->
        </form>
        {% include "tags/pagination.html" with page_set=groups %} 
    
    {% else %}
    <p> {% trans "There is currently no Group" %} ...</p>
    {% endif %}
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}

{% endblock CONTENT_MAIN %}