{% extends "product_base.html"%}
{% load i18n %}


{% block ACTIONS %}
<a class="margin" href="{% url 'dashboard:highlight-create'%}"> <i class="fas fa-plus icon"></i><span>{% trans "New Highlight" %}</span></a>
<a class="margin" href="{% url HIGHLIGHT_UPDATE_URL highlight.highlight_uuid %}"><i class="fas fa-refresh icon"></i><span>{% trans "Update" %}</span></a>
<a class="margin" href="{% url 'dashboard:highlights' %}"><i class="fas fa-list icon"></i><span>{% trans "Highlights" %}</span></a>
{% endblock ACTIONS %}


{% block CONTENT_MAIN %}

{% include 'tags/highlight_tag.html' %}
{% endblock CONTENT_MAIN %}