{% extends "dashboard_base.html"%}
{% load i18n %}


{% block CONTENT %}

{% if can_add_user %}

<div class="container">
    <div class="actions">
        <a class="mat-button mat-button-default" href="{% url 'dashboard:users' %}"><i class="fas fa-list icon"></i><span>{% trans "Users" %}</span></a>
    </div><!--End of Banner-Actions-->  
    <form class="signup-form container" action="{% url 'dashboard:create-user'%}" method="POST">{% csrf_token %}
        {% include 'tags/registration_form.html' %}
        <div class="actions">
            <a class="mat-button mat-button-default" href="{%url 'dashboard:home'%}"><i class="fas fa-ban icon"></i><span>{% trans "Cancel" %}</span></a>
            <button class="mat-button mat-button-default" type="submit">{%trans 'Create'%} </button>
        </div>
    </form>
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}