{% extends "post_base.html" %}
{% load i18n %} 
{% load static %}
{% load core_tags %}
{% load blog_tags %}

{% block CONTENT_MAIN %}
<div class="container">
    <article class="post-wrapper">
        <div class="post-header">
            <span>{{blog_post.author.get_full_name}}</span>|<span>{{blog_post.created_at}}</span>|<span>{{blog_post.post_status|post_status_value}}</span>
        </div>
        <div class="post">
            <div class="post-title"><span>{{blog_post.title}}</span></div>
            <div class="post-sharing">
                <ul class="flex flex-left">
                    <li><a href="#"><i class="fab fa-facebook icon"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter icon"></i></a></li>
                    <li><a class="js-action-abtest" data-action="13" href="https://api.whatsapp.com/send?text={{UI_WHATSAPP_SHARE_BODY|urlencode}}"><i class="fab fa-whatsapp icon"></i></a></li>
                </ul>
            </div>
            {% render_post blog_post %}
            <div class="post-comments">
                
                <div id="comments-wrapper" class="comments-wrapper">
                    <div class="post-header">
                        <span>{% trans "Comments" %}</span>|<span><i class="fas fa-comments icon"></i>{{blog_post.comments.count}}</span>
                    </div>
                    <ul id="comments" class="comments box">
                        {% for comment in blog_post.comments.all %}
                        <li>
                            <div class="comment mat-box">
                                <div class="post-header">
                                    <span class="bold">{{comment.author.get_full_name}}</span>|<span><i class="fas fa-comment icon"></i> {{comment.created_at}}</span>|<span class="js-report-comment" title="{% trans 'Signal this comment' %}"><i class="far fa-flag icon"></i></span>
                                </div>
                                <div>
                                    <p>{{comment.comment}}</p>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                        <li><span class="bold">{% trans "No comments" %}</span></li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock CONTENT_MAIN %}