{% extends "post_base.html"%}
{% load i18n %}

{% block CONTENT_MAIN %}
<div class="container">
<form action="{% url 'dashboard:posts-delete' %}" method="POST">{% csrf_token %}
        <div class="actions flex-left">
                <a class="margin" href="{% url 'dashboard:post-create'%}"> <i class="fas fa-plus icon"></i> <span>{% trans "New Post" %}</span> </a>
                {% if perms.blog.delete_post %}
                <button class="js-activable mat-button mat-button-outline" disabled><i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span></button>
                {% endif %}
        </div>
        <div class="container">
                {% include 'tags/posts-tag.html' with list_title=_("Posts") BASE_URL="dashboard:post-detail" FILTER_ENABLED=True %}
        </div>
</form>
</div><!--End of Table Wrapper-->
{% endblock CONTENT_MAIN %}