{% extends "users_base.html"%}
{% load i18n %}
{% load core_tags %}

{%block CONTENT_MAIN %}

                
<div class="container">
        <div class="actions">
                <a class="margin" href="{% url 'dashboard:user-delete' user_instance.pk %}"><i class="fas fa-remove icon"></i><span>{% trans "Delete" %}</span></a>
                <a class="margin" href="{% url 'dashboard:send-welcome-mail' user_instance.pk %}"><i class="fas fa-envelope icon"></i><span>{% trans "Send Welcome Mail" %}</span></a>
                {% if user_instance.account and not user_instance.account.email_validated %}
                <a class="margin" href="{% url 'accounts:send-validation' user_instance.account.account_uuid %}">{% trans "Send Validation Link" %}</a>
                {% endif %}
                
                <a class="margin" href="{% url 'dashboard:users' %}"><i class="fas fa-users icon"></i><span>{% trans "Users" %}</span></a>
                
        </div><!--End of Banner-Actions-->
        <div class="mat-box full">
                <h5>{% trans "User Information" %}</h5>
                <div class="mat-box-content row">
                        <div class="box">
                                <div class="entry">
                                        <span class="key">{% trans "Username" %}</span> <span class="value">{{user_instance.username}}</span>
                                </div>
                                <div class="entry">
                                        <span class="key">{% trans "Lastname" %}</span> <span class="value">{{user_instance.last_name}}</span>
                                </div>
                                <div class="entry">
                                        <span class="key">{% trans "Firstname" %}</span> <span class="value">{{user_instance.first_name}}</span>
                                </div>
                                <div class="entry">
                                        <span class="key">{% trans "E-Mail" %}</span> <span class="value">{{user_instance.email}}</span>
                                </div>
                                <div class="entry">
                                        <span class="key">{% trans "User is Active" %}</span> <span class="value">{{user_instance.is_active|yesno}}</span>
                                </div>
                                
                        </div>
                        
                        {% if user_instance.account %}
                        <div class="box">
                                <div class="entry">
                                        <span class="key">{% trans "Country" %}</span> <span class="value">{{user_instance.account.country}}</span>
                                </div>
                                <div class="entry">
                                        <span class="key">{% trans "City" %}</span> <span class="value">{{user_instance.account.city}}</span>
                                </div>
                                <div class="entry">
                                        <span class="key">{% trans "Telefon" %}</span> <span class="value">{{user_instance.account.telefon}}</span>
                                </div>
                                 <div class="entry">
                                        <span class="key">{% trans "Account" %}</span> <span class="value">{{user_instance.account.account_uuid}}</span>
                                </div>
                                <div class="entry">
                                        <span class="key">{% trans "Email is Validated" %}</span> <span class="value">{{user_instance.account.email_validated|yesno}}</span>
                                </div>
                                <div class="entry">
                                        <span class="key">{% trans "Account is Active" %}</span> <span class="value">{{user_instance.account.is_active|yesno}}</span>
                                </div>
                                <div class="entry">
                                        <span class="key">{% trans "Customer ID" %}</span> <span class="value">{{user_instance.account.customer_id|default_if_none:''}}</span>
                                </div>
                        </div>
                        {% endif %}
                        <div class="box">
                               
                                <div class="entry">
                                        <span class="key">{% trans "Date joined" %}</span> <span class="value">{{user_instance.date_joined|date:"F j, Y H:i:s"}}</span>
                                </div>
                                <div class="entry">
                                        <span class="key">{% trans "Last login" %}</span> <span class="value">{{user_instance.last_login|date:"F j, Y H:i:s"}}</span>
                                </div>
                        </div>

                        <div class="box">
                                <div class="actions">
                                        <form action="{% url 'dashboard:generate-token' %}" method="POST">{% csrf_token %}
                                                <input type="hidden" name="user" value="{{user_instance.pk}}">
                                                <button class="mat-button mat-button-default" type="submit"><i class="fas fa-key icon"></i><span>{% trans "Create Access Token" %}</span></button>
                                        </form>
                                </div>
                        </div>
                </div>

        </div>

</div>
<div class="container">
<div class="mat-box full">
        <h5>{% trans "User Groups" %} ({{user_instance.groups.count}}) </h5>
        {% if user_instance.groups %}
        <ul>
                {% for g in user_instance.groups.all %}
                <li>    
                        <ul>
                                <li>
                                    <h5>{% trans "Group" %} {{g.name}}</h5>
                                    <h6>{% trans "Group Permissions" %}</h6>
                                </li>
                                {% for p in g.permissions.all %}
                                <li>{{p.name}} - {{p.codename}}</li>
                                {% endfor %}
                        </ul>
                </li>
                {% endfor %}
        </ul>
        {% endif %}


        <h5>{% trans "User Permissions" %} ({{user_instance.user_permissions.count}})</h5>
        {% if user_instance.user_permissions %}
        <ul>
                {% for p in user_instance.user_permissions.all %}
                <li>{{p.name}} - {{p.codename}}</li>
                {% endfor %}
        </ul>
        {% endif %}

</div>
</div>
                
{% endblock CONTENT_MAIN %}


