{% extends "base.html" %}
{% load i18n %} 
{% block GOOGLE_TAG %}
{% endblock GOOGLE_TAG %}
{% block GOOGLE_TAG_NOSCRIP %}
{% endblock GOOGLE_TAG_NOSCRIP %}
{% block MAIN %}
    <div  class="mat-box">
            <div class="title">
                {% trans "Bad Request ! " %}
            </div>
            <div class="box-content content">
                    <p> {% trans "The server did not understand your request." %}</p>
            </div>
            <div class="actions">
                <a class="mat-button mat-button-default" href="{% url 'home' %}">{% trans "Go back to Home Page" %} </a>
            </div>
    </div> 
  {% endblock MAIN %}