{% extends "base.html" %}
{% load i18n %} 

{% block MAIN %}
<div id="static-page" class="col-xs-12 col-6">
    <div class="title padding margin"><h1>{{UI_STRINGS_CONTEXT.UI_ABOUT_US}}</h1></div>
    <div class="title padding margin"><h3>{{UI_STRINGS_CONTEXT.UI_ABOUT_HEAD}}</h3></div>
    <div class="grid">
        <div class="mat-box"><p>{{UI_STRINGS_CONTEXT.UI_ABOUT_INTRO}}</p></div>
        <div class="mat-box"><p>{{UI_STRINGS_CONTEXT.UI_ABOUT_BODY}}</p></div>
        <div class="mat-box"><p>{{UI_STRINGS_CONTEXT.UI_ABOUT_CLOSING}}</p></div>
    </div>
</div>
{% endblock MAIN %}