<!DOCTYPE html>
{% load i18n %} 
<html lang="{{LANGUAGE_CODE}}">
{% load static %}
{% load core_tags %}

<head>
        <meta charset="utf-8">
        {% block META_REDIRECT %}
        
        {% endblock META_REDIRECT %}
        <title>
                {% block title %} {{page_title}} {% endblock %}
        </title>
        <meta name="twitter:card"       content="summary">
        <meta name="twitter:creator"    content="@cyrildz"/>
        <meta name="keywords"           content="{{META_KEYWORDS}}">
        <meta name="description"        content="{{META_DESCRIPTION}}">
        <meta property="og:title"       content="{{OG_TITLE}}">
        <meta property="og:description" content="{{META_DESCRIPTION}}">
        <meta property="og:image"       content="{{OG_IMAGE}}">
        <meta property="og:url"         content="{{OG_URL}}">

        <meta property="twitter:title"       content="{{OG_TITLE}}">
        <meta property="twitter:description" content="{{META_DESCRIPTION}}">
        <meta property="twitter:image:src"   content="{{OG_IMAGE}}">

        <meta property="og:type"        content="{{OG_WEBSITE|default:'website'}}">
        <meta property="og:site_name"   content="{{SITE_NAME}}">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="{{SITE_NAME}}">
        <meta name="short_name" content="{{SITE_NAME}}">
        <meta name="name" content="{{SITE_NAME}}">
        <meta name="application-name" content="{{SITE_NAME}}">
        <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}" />
        <meta name="apple-mobile-web-app-status-bar-style" content="{{SITE_HEADER_BG}}">
        <meta name="theme-color"        content="{{SITE_HEADER_BG}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        
        
        {% comment %}
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> 
        {% endcomment %}
        <link rel="canonical" href="{{OG_URL}}" hreflang="{{LANGUAGE_CODE}}">
        <!-- Add icon library -->
        {% block STYLESHEET %}
                <link rel="preload stylesheet"  href="{% static 'css/main.min.css' %}" as="style" type="text/css">
        {% endblock STYLESHEET %}

        {% block external %} {% endblock external %}
        {% if structured_data %}
        {% json_ld structured_data %}
        {% endif %}
        {% block ADSENSE %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7624615584108748" crossorigin="anonymous"></script>
        {% endblock ADSENSE %}
        {% block GOOGLE_TAG %}
        {% if ALLOW_GOOGLE_ANALYTICS %}
        <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
        <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
        {% endif %}
        {% endblock GOOGLE_TAG %}
        {% block EXTRA_GOOGLE_TAG %}{% endblock EXTRA_GOOGLE_TAG %}
 
</head>

<body>
<input id="lang" type="hidden" name="lang" value="{{LANGUAGE_CODE}}">
{% block SCRIPT_VAR %}
{% endblock SCRIPT_VAR %}
<div class="page full">
{% block NAV %}
{% include "tags/nav.html" %}
{% endblock NAV %}
{% block HEADER %}
{% endblock HEADER %}
{% block SEARCH_BAR %}
{% if SEARCH_AVAILABLE %}
{% include 'tags/search_bar.html' with cls="hidden-xl" %}
{% endif %}
{% endblock SEARCH_BAR %}
{% block CATEGORY_OVERLAY_MENU %}
{% endblock CATEGORY_OVERLAY_MENU %}  
{% block NEWS %}
{% if news %}
<div class="news">
<span class="news-title">{% trans news.title %}</span>
<div class="news-content"> {% trans news.content %}</div>
</div>
{% endif %}
{% endblock NEWS %}

{% block CATEGORIES %}
{% include 'tags/category_nav.html' %}
{% endblock CATEGORIES %}
{% block HEADER_BANNER %}

{% endblock HEADER_BANNER %}
{% block DIALOGS %}

{% endblock DIALOGS %}

{% block SIGNUP_DIALOG %}

{% endblock SIGNUP_DIALOG %}



<div class="container full-h">

{% block MAIN %}

{% endblock MAIN %}
</div>
{% block NOTIFICATIONS %}
        <div id="notifications-wrapper" class="notifications-wrapper">
                <div class="flex-column">
                        <ul id="messages" class="messages notification-list" data-toggle="#notifications-wrapper">
                        {% for message in messages %}
                                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                                        <div class="notification flex">
                                                <i class="js-close fas fa-info-circle icon"></i>
                                                <p>{{message}}</p>
                                        </div>
                                </li>
                        {% endfor %}
                        </ul>
                </div>
        </div>
{% endblock NOTIFICATIONS %}
</div>
{% block FOOTER %}
 <footer class="footer">
        {% block FOOTER_CONTENT %}
        <div class="footer-content-wrapper">
        {% include 'tags/footer_content.html' %}
        </div>
        {% endblock FOOTER_CONTENT %}
        <div class="footer-list">
                {% now "Y" as current_year %}
                <ul class="mat-list small">
                        <li class="list-item"><span>Copyright <i class="fa fa-copyright"></i><span class="copyright-year">{{current_year}}</span><span class="site">{{site_name}}</span></span></li>
                </ul>
        </div>
</footer>
{% endblock FOOTER %}

<script defer  src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
{% block BASE_SCRIPT %}
<script defer data-main="{% static 'js/main.min' %}" src="{% static 'js/require.js' %}">
        
</script>        
{% endblock BASE_SCRIPT %}

{% block SCRIPT %}
{% endblock SCRIPT %}
{% block GOOGLE_ANALYTICS %}
{% if ALLOW_GOOGLE_ANALYTICS %}
<script preload  src="{% static 'js/lib/libgtm.js' %}"></script>
{% endif %}
{% endblock GOOGLE_ANALYTICS %}
</body>

</html>