{% extends "base.html" %}
{% load i18n %} 
{% load static %}
{% load core_tags %}
{% load blog_tags %}

{% block HEADER_BANNER %}
<div class="banner">
    <div class="container banner-container">
         <h1>{{UI_STRINGS_CONTEXT.HOME_PAGE_BANNER}}</h1>
    </div>
</div><!--End of Banner-->
{% endblock HEADER_BANNER %}

{% block MAIN %}
<div class="container">
{% if blog_posts %}
{% include "tags/blog_posts_tag.html" with blog_posts=recent_posts %}
{% else %}
<div class="mat-box">
    <p>{{UI_STRINGS_CONTEXT.UI_HOME_EMPTY_CONTENT}}</p>
    <p><a class="mat-button mat-button-text" href="{% url 'blog:create-post' %}"><span><i class="fas fa-edit icon"></i><span>{{UI_STRINGS_CONTEXT.UI_NEW_BLOG_POST}}</span></span></a></p>
</div>
{% endif %}
</div>
{% endblock MAIN %}