{% extends "base.html" %}
{% load i18n %} 
{% load static %}
{% load core_tags %}
{% load blog_tags %}

{% block HEADER_BANNER %}
<div class="banner">
    <div class="container banner-container">
        <div class="padding">
            <div class="banner-title"><h1>{{UI_STRINGS_CONTEXT.UI_HOME_BANNER_TITLE}}</h1></div>
            <div class="banner-sub"><span>{{UI_STRINGS_CONTEXT.UI_HOME_BANNER_SUB}}</span></div>
            <div class="actions padding"><a class="mat-button mat-button-default" title="{{UI_STRINGS_CONTEXT.UI_HOME_BANNER_CTA}}" href="{% url 'blog:create-post' %}">{{UI_STRINGS_CONTEXT.UI_HOME_BANNER_CTA}}</a></div>
        </div>
    </div>
</div><!--End of Banner-->
{% endblock HEADER_BANNER %}

{% block MAIN %}
<div class="container">
{% if recent_posts %}
<div class="post-container">
    {% include "tags/blog_posts_tag.html" with blog_posts=recent_posts %}
    {% include "tags/recommendations.html" with blog_posts=recommendations %}
</div>
{% include "tags/pagination.html" with page_set=story_list %}
{% else %}
<div class="mat-box">
    <p>{{UI_STRINGS_CONTEXT.UI_HOME_EMPTY_CONTENT}}</p>
    <p><a class="mat-button mat-button-text" href="{% url 'blog:create-post' %}"><span><i class="fas fa-edit icon"></i><span>{{UI_STRINGS_CONTEXT.UI_NEW_BLOG_POST}}</span></span></a></p>
</div>
{% endif %}
</div>
{% endblock MAIN %}