{% extends "base.html" %}
{% load i18n %} 
{% load static %}


{% if banner %}

{% block HEADER_BANNER %}
<div class="banner">
    <div class="container banner-container">
         <h1>{{SITE_NAME}} BLOG !</h1>
    </div>
</div><!--End of Banner-->
{% endblock HEADER_BANNER %}
{% endif %}

{% block MAIN %}
<div class="container">
  <p>Ici vient une liste de publications</p>
</div>
<div class="flex flex-left full padding">
  <div id="editor-wrapper" class="editor-wrapper full padding">
    <div id="editor" class="full mat-box editor padding">
      
    </div>
  </div>
  
</div>
{% endblock MAIN %}