{% extends "base.html"%}
{% load i18n %}
{% block GOOGLE_TAG %}
{% endblock GOOGLE_TAG %}
{% block GOOGLE_TAG_NOSCRIP %}
{% endblock GOOGLE_TAG_NOSCRIP %}
{% block HEADER_BANNER %}
    <div class="padding-h padding-v left">

        {% block  HEADER_BANNER_TITLE %}
            <h5>{% trans "Hello" %}, <span>{{user.get_full_name}}</span></h5>
        {% endblock HEADER_BANNER_TITLE %}
        
        <div class="padding-v">
            <ul class="medium no-child-padding no-child-margin">
                    <li><a class="mat-button mat-button-text" href="{{account.get_absolute_url}}"><i class="fas fa-user icon"></i><span>{% trans "Account Details" %}</span></a></li>
            </ul><!--End of Banner-Actions-->
        </div><!--End of Container-->
        {% block SUB_BANNER %}
        {% endblock SUB_BANNER %}
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}


{% endblock MAIN %}

{% block GOOGLE_ANALYTICS %}{% endblock GOOGLE_ANALYTICS %}