{% extends "base.html"%}
{% load i18n %} 
{% block META_REDIRECT %}
        
{% endblock META_REDIRECT %}


{% block MAIN %}
<div id="static-page" class="full">
    <h1>Conditions générales d'utilisation du site {{SITE_NAME}}</h1>
    <div><br></div>

<h2>ARTICLE 1 : Objet</h2>
<div>
Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique de l’utilisation du site {{SITE_NAME}} et de ses services.
Ce contrat est conclu entre :
Le gérant du site internet, ci-après désigné « l’Éditeur »,
Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».
Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.
</div>
<div><br></div>
<h2>ARTICLE 2 : Mentions légales</h2>
<div>
Pour les personnes morales :
Le site {{SITE_NAME}} est édité et répresenté par Cyrille Ngassam Nkwenga.
</div>
<div><br></div>
<h2>ARTICLE 3 : accès aux services</h2>
<div><br></div>
<div>
    <span>L’Utilisateur du site {{SITE_NAME}} a accès aux services suivants :</span>
    <ul class="bullet-list">
        <li>Lecture des articles</li>
        <li>Création de contenu numérique</li>
        <li>Interagir dans les discutions à travers les commentaires</li>
    </ul>
    <p>
        Tout Utilisateur ayant accès a internet peut accéder gratuitement et depuis n’importe où au site. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.
    </p>

    <p>Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.</p>
</div>
<div><br></div>
<h2>ARTICLE 4 : Responsabilité de l’Utilisateur</h2>
<div><br></div>
<div>
    <p>L'Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe. 
Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation de mot de passe, l’Éditeur décline toute responsabilité.
L’Utilisateur assume l’entière responsabilité de ses propre publications qu’il fait sur le site {{SITE_NAME}}.
Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site.
    </p>
</div>
<div><br></div>
<h2>ARTICLE 5 : Responsabilité de l’Éditeur</h2>
<div><br></div>
<div>
    <p>
    Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.
    De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
    Le site {{SITE_NAME}} s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.
    L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées su le site soient réputées fiables.
    </p>
</div>
<div><br></div>
<h2>ARTICLE 6 : Propriété intellectuelle</h2>
<div><br></div>
<div>
<p>
    Les contenus du site {{SITE_NAME}} (logos, textes, etc.) ne peut être utiliser à des fins commerciales sans l'autorisation du site.
L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus ur d'autres plateforme concurentes.
L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte à un tiers.
L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en ligne par les utilisateurs, et ce sans justification.
</p>
</div>
<div><br></div>
<h2>ARTICLE 7 : Données personnelles</h2>
<div><br></div>
<div>
<p>
L’Utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le site. 
L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site {{SITE_NAME}} pour la communication d’informations diverses et la gestion du compte.
{{SITE_NAME}} garantie le respect de la vie privée de l’utilisateur relative à l'informatique, aux fichiers et aux libertés.
L'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via :
</p>
<ul class="bullet-list">
    <li><span>Son espace personnel sur le site ;</span></li>
    <li>Par mail à info@flished.com ;</li>
</ul>
</div>
<div><br></div>
<h2>ARTICLE 9 : Évolution des conditions générales d’utilisation</h2>
<div><br></div>
<div>
<p>Le site {{SITE_NAME}} se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.</p>
</div>
<div><br></div>
<h2>ARTICLE 10 : Durée du contrat</h2>
<div><br></div>
<div>
<p>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.</p>
</div>
</div>

{% endblock MAIN %}