{% extends "template_email.html" %}
{% load i18n %}


{% block EMAIL_BODY %}

<tr><!--EMAIL_BODY-->
    <td>
        <table>
            <tr>
                <td>
                    <h4>Bienvenue chez {{SITE_NAME}}, {{FULL_NAME}}</h4>
                    <p>Votre compte a été crée avec succès.</p>
                    <p>Vous devez valider votre addresse E-Mail avant de pouvoir passer les commandes</p>
                    <p>Veuillez valider votre E-Mail en cliquant sur le lien en desous.</p>
                    <p>Si jamais vous n'avez pas essayez de creer un compte chez nous alors Veuillez simplement ignorer ce mail.</p>
                    <p>Valider Votre E-Mail maintenant.</p>
                    <p><a class="mat-button-mat-button-text" href="{{validation_url}}">{{validation_url}}</a></p>
                    
                </td>
            </tr>
        </table>
    </td>
</tr>

{% endblock EMAIL_BODY %}