:root{
    --primary-color: #0A0A0A;
    --secondary-color: #0A0A0A;
    --third-color : #FFFFFF;
    --fourth-color : #FFFFFF;
    --light-color : #FAFAFA;
    --header : #eadbcb;
    --header-color: #0A0A0A;
    --label-color : #777;
    --body-bg : #eadbcb;
    --body-color: #0A0A0A;
    --notification-bg : #0A0A0A;
    --notification-color : #FAFAFA;
    --action-color : #FF0D00;
    --sidebar-bg-color: #fafafa;
    --sidebar-color: #0A0A0A;
    --sidebar-active-color: #FF0D00;
    --text-grey: #777;
    --color-stone : #707C80;
    --color-ebony : #282C35;
    --warning-color : #f39c12;
    --error-color : #FF0D00;
    --success-color :#45A29E ;
    --info-color: #0A0A0A;
    --debug-color: #1e88e5;
    --standard-order : #2980b9;
    --footer : #eadbcb;
    --footer-content-wrapper:#eadbcb;
    --footer-content-wrapper-color: #0A0A0A;
    --footer-content: #eadbcb;
    --footer-content-color : #1A1A1A;
    --footer-catelog: #eadbcb;
    --footer-catelog-color: #1A1A1A;
    --footer-catalog-link: #1A1A1A;
    --editor : #eadbcb;
    --editor-color : #1A1A1A;
    --editor-header : #F5F5F5;
    --editor-header-color : #1a1a1a;
    --dotted-color : #0a0a0a;
    --quote : #eadbcb;
    --quote-color: #a88b6d;
    --quote-border-color : #a88b6d
}