:root{
    --primary-color: #370300;
    --secondary-color: #FF0D00;
    --third-color : #c4b8b7;
    --fourth-color : #FFFFFF;
    --body-bg : #FFFFFF;
    --body-color: #242424;
    --notification-bg : #fafafa;
    --notification-color : #0A0A0A;
}
